<div class="form-group" id="productvideoloops-form">
    <h3>{{ 'Custom product details'|trans({}, 'Modules.Productvideoloops.Admin') }}</h3>

    <div class="form-group text-widget">
        <label>{{ 'Custom field'|trans({}, 'Modules.Productvideoloopsm.Admin') }}</label>
        <div>{{ productVideo.filename }}</div>
    </div>
</div>